[global]
netbios name = {{ samba_netbios_name }}
clustering = yes
log file = /var/log/samba/log.%m
max log size = 0
server string = Samba server version %v
workgroup = MYGROUP
security = user

kernel share modes = No
map archive = No
posix locking = No
kernel change notify = no

load printers = no
printcap name = /dev/null
disable spoolss = yes
printing = bsd
show add printer wizard = no

[{{ samba_share }}]
comment = For samba share of volume {{ gluster_cluster_volume }}
vfs objects = acl_xattr glusterfs
glusterfs:volume = {{ gluster_cluster_volume }}
glusterfs:logfile = /var/log/samba/glusterfs-{{ gluster_cluster_volume }}.%M.log
glusterfs:loglevel = 7
path = /
read only = no
